@tailwind base;
@tailwind components;
@tailwind utilities;

.writing-mode-vertical-rl {
    writing-mode: vertical-rl;
}

.map-container {
    width: 100%;
    height: 300px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

#map {
    width: 100%;
    height: 100%;
}